
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Management</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Manager.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="well" id="search-by-invoiceID">
            <div class="form-inline">
                <input type="text" class="form-control" name="searchById" placeholder="Search" style="width:30%;" />

                <button id="btn-search" class="btn btn-success" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="well" id="filter-invoice">
            <div class="form-group">
                <div class="form-inline" name="search-by-date">
                    <label for="startDate" class="control-label">Start Date: </label>
                    <input type="text" class="form-control" name="startDate" style="width:15%; margin-right:30px;" />

                    <label for="endDate" class="control-label">End Date: </label>
                    <input type="text" class="form-control" name="endDate" style="width:15%; margin-right:50px;" />


                    <label for="searchByRoomCategory" class="control-label">Room category</label>
                    <select class="form-control" name="searchByRoomCategory" style="width:10%; margin-right:15px;"></select>

                    <label for="searchByRoom" class="control-label">Room</label>
                    <select class="form-control" name="searchByRoom" style="width:10%; margin-right:15px;"></select>

                    <button id="btn-filter" class="btn btn-success" type="button">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="well">
            <table id="table-invoices" class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function () {
            ReloadRoomCategorySelection();
            ReloadRoomSelection();
            $("#filter-invoice input[name='startDate']").datepicker({ dateFormat: "yy-mm-dd" });
            $("#filter-invoice input[name='endDate']").datepicker({ dateFormat: "yy-mm-dd" });

            var dataTableInvoice = $("#table-invoices").DataTable({
                ajax: {
                    url: "/api/Invoices/GetSome?startDate=" + $("#filter-invoice input[name='startDate']").val()
                        + "&endDate=" + $("#filter-invoice input[name='endDate']").val()
                        + "&roomCategoryID=" + $("#filter-invoice select[name='searchByRoomCategory'] option:selected").attr("value")
                        + "&roomID=" + $("#filter-invoice select[name='searchByRoom'] option:selected").attr("value"),
                    dataSrc: "",
                },
                columns: [
                    {
                        title: "Invoice ID",
                        data: "id",
                        render: function (data) {
                            return data;
                        },
                    },
                    {
                        title: "Payer",
                        data: "guestName",
                        render: function (data) {
                            return data;
                        },
                    },
                    {
                        title: "Date of payment",
                        data: "dateOfInvoice",
                        render: function (data) {
                            return data;
                        },
                    },
                    {
                        title: "Total cost",
                        data: "totalCost",
                        render: function (data) {
                            return data;
                        },
                    },
                    {
                        title: "Detail",
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-detail' data=" + data + ">Detail</button>";
                        },
                    },
                    {
                        title: "Delete",
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data=" + data + "><i class='fa fa-minus'></i></button>";
                        },
                    },
                ],
                searching: false,
                info: false,
                ordering: false,
            });

            //events
            $("#filter-invoice select[name='searchByRoomCategory']").on("change", function () {
                ReloadRoomSelection();
            });

            $("#btn-search").on("click", function () {
                var url = "/api/Invoices/GetSome?id=" + $("#search-by-invoiceID input[name='searchById']").val();

                dataTableInvoice.ajax.url(url).load();
            });

            $("#btn-filter").on("click", function () {
                var url = "/api/Invoices/GetSome?startDate=" + $("#filter-invoice input[name='startDate']").val()
                    + "&endDate=" + $("#filter-invoice input[name='endDate']").val()
                    + "&roomCategoryID=" + $("#filter-invoice select[name='searchByRoomCategory'] option:selected").attr("value")
                    + "&roomID=" + $("#filter-invoice select[name='searchByRoom'] option:selected").attr("value");

                dataTableInvoice.ajax.url(url).load();
            });

            $("#table-invoices tbody").on("click", ".js-detail", function () {
                var button = $(this);

                bootbox.dialog({
                    title: "Invoice ID: " + button.attr("data"),
                    message: DialogInvoiceMarkup(button.attr("data")),
                    buttons: [
                        {
                            label: "OK",
                            className: "btn btn-success",
                            callback: function () {

                            },
                        }
                    ],
                });

            });

            $("#table-invoices tbody").on("click", ".js-delete", function () {
                var button = $(this);

                alert("delete " + button.attr("data"));
            });

            function ReloadRoomCategorySelection() {
                var selector = $("#filter-invoice select[name='searchByRoomCategory']");

                selector.find("option").remove();

                selector.append("<option value=-1>All</option>");
                $.ajax({
                    url: "/api/RoomCategories/GetAll",
                    method: "get",
                    success: function (response) {
                        for (var i = 0; i < response.length; i++) {
                            selector.append("<option value=" + response[i].id + ">" + response[i].name + "</option>");
                        }
                    },
                });
            }

            function ReloadRoomSelection() {
                var selector = $("#filter-invoice select[name='searchByRoom']");

                selector.find("option").remove();

                selector.append("<option value=-1>All</option>");
                $.ajax({
                    url: "/api/Rooms/GetSome?roomCategoryId=" + $("#filter-invoice select[name='searchByRoomCategory']").val(),
                    method: "get",
                    success: function (response) {
                        for (var i = 0; i < response.length; i++) {
                            selector.append("<option value=" + response[i].id + ">" + response[i].roomNumber + "</option>");
                        }
                    },
                });
            }

            function DialogInvoiceMarkup(invoiceID) {
                var markup = "<div id='dialog-invoice'>";

                $.ajax({
                    url: "/api/Invoices/GetFullInfo?id=" + invoiceID,
                    method: "get",
                    async: false,
                    success: function (response) {
                        var rentals = response.roomRentalSlipFullInfoDtos;
                        for (var i = 0; i < rentals.length; i++) {
                            markup += "<div class='well'>";

                            markup += "<div class='form-inline'>";
                            markup += "<label class='control-label' style='margin-right:50px;'>Room Rental Slip: " + rentals[i].id + "</label>";
                            markup += "<label class='control-label'>" + rentals[i].roomNumber + ":  " + rentals[i].roomCategory + "<label>";
                            markup += "</div >";

                            markup += "<div class='form-inline'>";
                            markup += "<label class='control-label' style='margin-right:44px;'>Check In: " + rentals[i].startDate + "</label>";
                            markup += "<label class='control-label'>Check out: " + rentals[i].endDate + "</label>";
                            markup += "</div>";

                            markup += "<br/>";

                            markup += "<table class='table table-bordered'>";
                            markup += "<thead><tr>";
                            markup += "<td>CMND</td><td>Name</td><td>Sex</td><td>Address</td><td>Guest Category</td>";
                            markup += "</tr></thead>";
                            markup += "<tbody>";

                            var guests = rentals[i].guests;
                            for (var j = 0; j < guests.length; j++) {
                                markup += "<tr>";

                                markup += "<td>" + guests[j].cmnd + "</td>";
                                markup += "<td>" + guests[j].name + "</td>";

                                if (guests[j].sex == false)
                                    markup += "<td>Male</td>";
                                else
                                    markup += "<td>Female</td>";

                                markup += "<td>" + guests[j].address + "</td>";
                                markup += "<td>" + guests[j].guestCategoryName + "</td>";

                                markup += "</tr>";
                            }

                            markup += "</tbody>";
                            markup += "</table>"

                            markup += "<div>";
                            markup += "<label class='control-label'>Unit Price: " + rentals[i].unitPrice + "</label>";
                            markup += "</div>";

                            markup += "<div>";
                            markup += "<label class='control-label'>Highest Coefficient: " + rentals[i].highestGuestCoefficient + "   at " + rentals[i].highestGuestCoefficientName + "</label>";
                            markup += "</div>";

                            markup += "<div>";
                            markup += "<label class='control-label'>Surcharge at: " + rentals[i].numStartSurcharge + "rd Guest     With Surcharge Rate: " + rentals[i].surchargeRate + "</label>";
                            markup += "</div>";

                            if (guests.length < rentals[i].numStartSurcharge) {
                                markup += "<div>";
                                markup += "<label class='control-label'>Total Cost: " + rentals[i].unitPrice + " x " + rentals[i].highestGuestCoefficient + " x " + rentals[i].days + " = " + rentals[i].totalCost + "</label>";
                                markup += "</div>";
                            }
                            else {
                                markup += "<div>";
                                markup += "<label class='control-label'>Total Cost: " + rentals[i].unitPrice + " x " + rentals[i].highestGuestCoefficient + " x " + rentals[i].days + " + " + rentals[i].unitPrice + " x " + rentals[i].surchargeRate + " = " + rentals[i].totalCost + "</label>";
                                markup += "</div>";
                            }

                            markup += "</div>"; //end of <div class='well'>
                        }

                        markup += "<div>";
                        markup += "<label class='control-label'>Date of payment: " + response.dateOfInvoice + "</label>";
                        markup += "</div>";

                        markup += "<div>";
                        markup += "<label class='control-label'>Payer: " + response.guestName + " CMND: " + response.guestCMND + "</label>";
                        markup += "</div>";

                        markup += "<div>";
                        markup += "<label class='control-label label-danger'>Total Cost: " + response.totalCost + "</label>";
                        markup += "</div>";
                    }
                });

                markup += "</div>"

                return markup;
            }
        });
    </script>
</body>
</html>
